@{
	ViewData["Title"] = Localizer["History page title"];
}

<div class="px-lg-1">

	@await Html.PartialAsync("_DataLoadingErrorPartial")

	<div id="historyPageContentDiv">

		@await Html.PartialAsync("_LoadingPartial")

		<div id="configurationsListBoxDiv">
		</div>

		<input type="hidden" id="selectedConfigurationId" />

		<div id="configurationHistoryDisplayDiv">
		</div>

	</div>

</div>

<script src="~/js/History.js" asp-append-version="true"></script>
