<div id="dataLoadingErrorDiv" class="d-none">
	<div class="fs-3 fw-semibold text-danger">
		<i class="bi bi-exclamation-octagon" style="height:35px; width:35px;"></i> @Localizer["Data loading error"]
	</div>
	<div class="my-2">
		<button id="dataLoadingErrorReloadButton" class="btn btn-warning">
			@Localizer["Reload"]
		</button>
	</div>
</div>

<script src="~/js/_DataLoadingErrorPartial.js" asp-append-version="true"></script>