a {
    color: #0077cc;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.footer {
    bottom: 0;
    line-height: 60px;
    background-color: #F0F6FF;
}

#siteNav {
    background-color: #81A8FF;
    font-family: 'Neue Haas Grotesk Text Pro', sans-serif;
}

#verticalSiteNav {
    background-color: #A8C2FF;
}

.siteNavbarLi {
    max-width: 150px;
}

.verticalSiteNavbarLi:hover {
    background-color: #93B4FB;
    transition: background-color 0.3s;
}

.verticalSiteNavbarLi:active {
    background-color: #87ADFF;
    transition: background-color 0s;
}
