#signInDisplayDiv {
    max-width: 170px;
}

#loginDisplayDiv {
    max-width: 260px;
    padding-top: 1.5px;
    line-height: normal;
}

#logoutButton {
    padding: 1px;
    padding-left: 1.5px;
    padding-right: 1.5px;
    margin-top: 3px;
}
