@model CablingConfiguration?

<div class="mb-3">
	<div class="row">
		<div class="col">
			@await Html.PartialAsync("_ConfigurationDisplayPartial", Model)
		</div>
	</div>
</div>

@if (Model != null)
{
	var serializeroptions = new System.Text.Json.JsonSerializerOptions
	{
		WriteIndented = true,
		ReferenceHandler = System.Text.Json.Serialization.ReferenceHandler.Preserve,
	};

	<form id="historySaveToTxtCablingConfigurationForm" asp-controller="@nameof(Calculation)" asp-action="@nameof(Calculation.SaveToTXT)" method="post">
		<input type="hidden" name="serializedCablingConfiguration" value="@System.Text.Json.JsonSerializer.Serialize(Model, serializeroptions)">
	</form>
}
